{{- $works := (index . "Journal Articles") -}}
{{if gt (len $works) 0 }}
=== Journal Articles ===
{{range $works}}
{{- range .}}
{{- if .DoiURI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.DoiURI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else if .URI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.URI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}{{.Title}}{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- end -}}
{{end -}}
{{end -}}
{{end}}

{{- $works = (index . "Conference Papers") -}}
{{if gt (len $works) 0 }}
=== Conference Papers ===
{{range $works}}
{{- range .}}
{{- if .DoiURI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.DoiURI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else if .URI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.URI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}{{.Title}}{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- end -}}
{{end -}}
{{end -}}
{{end}}

{{- $works = (index . "Other") -}}
{{if gt (len $works) 0 }}
=== Other ===
{{range $works}}
{{- range .}}
{{- if .DoiURI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.DoiURI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else if .URI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.URI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}{{.Title}}{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- end -}}
{{end -}}
{{end -}}
{{end}}
