=== Journal Articles ===
{{range (index . "Journal Articles")}}{{/* work years range */}}
==== {{(index . 0).Year}} ====
{{range .}}{{/* works range */}}
{{- if .DoiURI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.DoiURI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else if .URI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.URI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}{{.Title}}{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- end -}}
{{end}}{{/* works range */}}
{{end}}{{/* work year range */}}

=== Conference Papers ===
{{range (index . "Conference Papers")}}{{/* work years range */}}
==== {{(index . 0).Year}} ====
{{range .}}{{/* works range */}}
{{- if .DoiURI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.DoiURI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else if .URI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.URI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}{{.Title}}{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- end -}}
{{end}}{{/* works range */}}
{{end}}{{/* work year range */}}

=== Other ===
{{range (index . "Other")}}{{/* work years range */}}
==== {{(index . 0).Year}} ====
{{range .}}{{/* works range */}}
{{- if .DoiURI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.DoiURI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else if .URI }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}[{{.URI}} <nowiki>{{.Title}}</nowiki>]{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- else }}
* {{if .ContributorsLine}}{{.ContributorsLine}} {{end}}{{if .Year}}({{.Year}}) {{end}}{{.Title}}{{if .JournalTitle}}, ''{{.JournalTitle}}''{{end}}.
{{- end -}}
{{end}}{{/* works range */}}
{{end}}{{/* work year range */}}
